$maxIcons: 2;

.custom-icon-stack {
  position: relative;
  display: inline-flex;

  .fa-stack {
    margin-left: -0.5em;
  }

  .stacked-icon {
    position: relative;

    @for $i from 1 through $maxIcons {
      &:nth-child(#{$i}) {
        z-index: #{11 - $i};
      }
    }
  }
}

@for $total from 1 through $maxIcons {
  .total-icons-#{$total} {
    .stacked-icon {
      @for $i from 1 through $total {
        &:nth-child(#{$i}) {
          left: calc(#{(($total - $i) / $total) * 100%} * -1);
        }
      }
    }
  }
}
